
/* *********************************************************************************************
	FONTS
********************************************************************************************* */

@font-face {
	font-family: "Georgia";
	src: url("fonts/Georgia.ttf");
}
@font-face {
	font-family: "Myriad";
	src: url("fonts/MyriadPro-Regular.otf");
}

/* *********************************************************************************************
	GENERIC
********************************************************************************************* */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: "Georgia", sans-serif;
	font-size: 14px;
	color: #5B594C;
	background-color: #F9F9F1;
}
h1, h2, h3 {
	font-family: "Myriad";
}
ul, li {
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
a.more {
	text-decoration: underline;
	color: #5B594C;
}
a:hover {
	text-decoration: underline;
	color: #000;
}

/* *********************************************************************************************
	COLORS
********************************************************************************************* */

.color-c1, a {
	color: #D3C69C;
}
.color-c2, section h2 {
	color: #CDBD8C;
}
.color-bg {
	background-color: #D3C69C;
}
button {
	background-color: #CDBD8C;
}

/* *********************************************************************************************
	CONTAINER (CENTER)
********************************************************************************************* */

.container {
	width: 920px;
	margin: 0 auto;
}

/* *********************************************************************************************
	HEADER
********************************************************************************************* */

.header {
	padding-top: 20px;
}
.header .logo {
	font-size: 0;
	padding: 2px;
}
.header .logo h1 {
	display: inline-block;
	width: 20%;
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-weight: normal;
	line-height: 54px;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;;
	color: #fff;
	border-right: 2px solid #fff;
}
.header .logo p {
	display: inline-block;
	width: 80%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: serif;;
	font-style: italic;;
	font-weight: normal;
	line-height: 54px;
	vertical-align: middle;
	text-align: right;
}
.header nav {
	font-size: 0;
	background-color: #EBEAD8;
	border-top: 4px solid #E8E6D1;
}
.header nav ul.container {
	margin-top: -4px;
	background-color: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.header nav li, header nav a {
	display: inline-block;
	font-size: 16px;
	line-height: 50px;
}
.header nav li {
	width: 20%;
	padding: 0;
	text-align: center;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.header nav li a {
	width: 100%;
	background-color: #EBEAD8;
	border-top: 4px solid #E8E6D1;
}
.header nav li a.active, .header nav li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #D3C69C;
	border-top: 4px solid #CDBD8C;
}
.header .title {
	background-color: #fff;
}
.header .title h2 {
	height: 320px;
	padding-top: 48px;
	font-size: 18px;
	font-weight: normal;
	line-height: 36px;
	background-image: url('images/people.jpg');
	background-repeat: no-repeat;
	background-position: 75% bottom;
	background-size: auto 90%;
}
.header .title .big {
	font-size: 48px;
}
.header .title .indent {
	padding-left: 48px;
}
.header .title .main {
	color: #000;
}

/* *********************************************************************************************
	MAIN + FOOTER
********************************************************************************************* */

section article, section aside, footer nav {
	float: left;
	width: 31%;
	padding-right: 2%;
}
section h1, footer h1 {
	font-size: 24px;
	font-weight: normal;
	color: #000;
}
section nav ul a::before, footer nav ul a::before {
	content: url('images/puce.png');
	padding-right: 10px;
	vertical-align: middle;
}
section a, footer a {
	text-decoration: underline;
	line-height: 24px;
}

/* *********************************************************************************************
	MAIN
********************************************************************************************* */

section {
	padding: 30px 0;
	background-color: #EBEAD8;
	border-top: 4px solid #E8E6D1;
}

section h1 {
	margin: 0;
}
section h2 {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
}
section header p {
	padding: 0;
	font-weight: bold;
	font-size: 16px;
}

figure {
	margin: 14px 0;
}
figure img {
	vertical-align: middle;
	margin-right: 10px;
}
figure figcaption {
	display: inline-block;
	vertical-align: middle;
}

/* *********************************************************************************************
	FOOTER
********************************************************************************************* */

footer {
	background-color: #DBD5BB;
}
footer nav {
	padding: 30px 0;
}
footer>div.copy {
	background-color: #fff;
	padding: 20px 0;
}

/* *********************************************************************************************
	FORM
********************************************************************************************* */

.subscribe {
	padding: 10px;
	color: #fff;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.subscribe h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 24px;
	font-weight: normal;
}
.subscribe a {
	font-size: 11px;
	color: #fff;
}
.subscribe input, .subscribe button {
	width: 80%;
	padding: 5px;
	font-size: 12px;
	color: #333;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.subscribe button {
	width: auto;
	font-weight: bold;
	color: #fff;
}
.subscribe button:hover {
	background-color: #CDBD8C;
}