
/* *********************************************************************************************
	COLORS
********************************************************************************************* */

.color-c1, a {
	color: #bf3a17;
}
.color-c2, section h2 {
	color: #8a4631;
}
.color-bg {
	background-color: #bf3a17;
}
button {
	background-color: #F8931D;
}

