
/* *********************************************************************************************
	COLORS
********************************************************************************************* */

.color-c1, a {
	color: #c36;
}
.color-c2, section h2 {
	color: #a14;
}
.color-bg {
	background-color: #c36;
}
button {
	background-color: #a14;
}

