
/* *********************************************************************************************
	COLORS
********************************************************************************************* */

.color-c1, a {
	color: #e93;
}
.color-c2, section h2 {
	color: #c71;
}
.color-bg {
	background-color: #e93;
}
button {
	background-color: #c71;
}

