
/* *********************************************************************************************
	COLORS
********************************************************************************************* */

.color-c1, a {
	color: #369;
}
.color-c2, section h2 {
	color: #147;
}
.color-bg {
	background-color: #369;
}
button {
	background-color: #147;
}

