
/* *********************************************************************************************
	COLORS
********************************************************************************************* */

.color-c1, a {
	color: #6a3;
}
.color-c2, section h2 {
	color: #481;
}
.color-bg {
	background-color: #6a3;
}
button {
	background-color: #481;
}

