body{
    width: 600px;
    font-weight: 100;

    font-family: sans-serif;
    background-color: #eee;

    margin-left: auto;
    margin-right: auto;

}
h1 {
    font-weight: 100;
}
h2 {
    background-color: #fff ;
    padding: 10px;
    font-weight: 100;
    border-bottom: solid 3px #cccccc;
}

a {
    text-decoration: none;
}
p{
    font-size: 14px;
    line-height: 21px;
    text-align: justify;

}