body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/body_bg.png");
    background-repeat: repeat-x;
    background-position: 10% 12%;
    /*font-size: 14px;*/
}

header {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    height: 300px;
}
#contLeftImgHeader {

}

nav.menuTop {
    margin-left: 30%;

}

nav.menuTop > ul {
    margin-left: 12%;


}

nav.menuTop > ul > li {

    display: inline-block;
    background-image: url("../images/puce.png");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 15px; /* to */
    color: #CDC5B0;
    font-size: 12px;
    margin-left: 20px;

}

nav.menuTop > ul > li > a {
    text-decoration: none;
    color: #CDC5B0;
}


#h1FreshResto {
    padding-left: 50%;
    font-size: 50px;

    color: #fff;
    opacity: 1;
}

a {
    color: #000000;
}
#h2JustifyRight {
    padding-left: 50%;
}

#pJustifyRight {
    padding-left: 50%;
}
.h1JustifyLeft {
    margin-left: 38%;
}
.h1Box {
    padding-bottom: 10px;
    border-bottom: solid 3px #FAF0E6;

}
.h1ColorRed {
    color: #D66C4C;

}
aside {
    float: left;
    width: 30%;
    margin-right: 02%;
}
aside > ul {
    list-style-type: square;
}

.h3RemoveMarginBottom {
    margin-bottom: 1px;
}
.pRemoveMarginTop {
    margin-top: 3px;
    font-size: 12px;
}

.spanColorGreen {
    color: #9AA809;
    font-weight: 700;
}

div.main ul li a {
    text-decoration: none;
    color: #9AA809;
    font-weight: 700;
}


#artColCenter{
    float: left;
    width: 30%;
    margin-left: 02%;
}

figure.figRemoveMarginRight {
    margin-right: 0;
}

.figcPolice {
    font-size: 13px;
}
.pMarginLeft {
    margin-left: 35px;
    margin-top: 25px;
    font-size: 14px;
    
}
#artColRight{
    float: right;
    width: 30%;
}
.imgFloat {
    float: left;
    margin-right: 15px;
}
figcaption {
    margin-top: 20px;
    /*font-size: 12px;*/
}
.figcJustifyDown {

    margin-top: 20px;
}
nav.menuBottom {
    background-color:#9B9176 ;
    color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
nav.menuBottom> ul {
    list-style-type: none;

}
nav.menuBottom > ul > li {
    display: inline-block;
}

nav.menuBottom a {
    color: #fff;
    text-decoration: none;
}
.pCenter {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-size: 13px;
}