body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/body_bg.png");
    background-repeat: repeat-x;
    background-position: 10% 08%;
}

header {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    height: 300px;
}
#contLeftImgHeader {

}

nav {
    margin-left: 30%;

}

nav > ul {
    margin-left: 12%;


}

nav > ul > li {

    display: inline-block;
    background-image: url("../images/puce.png");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 15px; /* to */
    color: #CDC5B0;
    font-size: 12px;
    margin-left: 20px;

}

nav > ul > li > a {
    text-decoration: none;
    color: #CDC5B0;
}


#h1FreshResto {
    padding-left: 55%;
    /*margin-left: 400px;*/

    color: #fff;
    opacity: 1;
}
#h2JustifyRight {
    padding-left: 55%;
}

#pJustifyRight {
    padding-left: 55%;
}

.h2ColorRed {
    color: #D66C4C;
}
aside {
    float: left;
    width: 30%;
}

.h3RemoveMarginBottom {
    margin-bottom: 1px;
}
.pRemoveMarginTop {
    margin-top: 3px;
}

#artColCenter{
    float: left;
    width: 30%;
}
#artColRight{
    float: right;
    width: 30%;
}