

.page {
    width: 900px;
    margin: 0 auto;
}

div.logoSlogan {
    padding-bottom: 0;
}

div.logoQuanto {
    float: left;
    width: 20%;
    margin-left: 70px;
    margin-bottom: 0;
    vertical-align: bottom;
}

h1.h1LogoQuanto {
    background-color: #BF3B19;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    /*padding: 5px;*/
    text-align: center;
}


h2.h2Slogan {
    font-size: 14px;
    vertical-align: text-bottom;
}
.red {
    color: #8C4435;

}

div.slogan {
    float: right;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 0;
}
nav.topMenu {
    margin-left: 30px;
    background-color: #EBEAD8;
}
nav.topMenu ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
    border: solid 1px ;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 150px;
    text-align: center;

}
div.contH2Banner {
    float: left;
    width: 30%;
}
img.imgPpl {
    float: right;
    width: 70%;

}
article.leftCustomerSays {
    float: left;
    width: 30%;
}
figure.figRemoveMarginLeft {
    margin-left: 0;
}

img.imgFace {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
figcaption.figcAddMargin {

}
h3.h3AddMargin {

}

.main article h3 {
    margin-top: 30px;
    margin-bottom: 2px;
}
article.centerWhyChooseUs {
    float: left;
    width: 30%;
    margin-left: 30px;
}

a {
color: #BF3A18;
}
article.rightNewsHeadlines {
    float: right;
    width: 30%;
    margin-left: 30px;
}


article ul {
    list-style-type: none;
    padding-left: 0;
}

li.liWhatNews {
    background-image: url("../images/puce.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}