@font-face {
    font-family: "Georgia";
    ;
}


body {
font-size: 13px;
}

div.page {
    width: 1200px;
    margin: 0 auto;
}

div.logoSlogan {
    padding-bottom: 0;
    vertical-align: bottom;
    margin-bottom: 0;
    padding-top:20px;
}

div.logoQuanto {
    float: left;
    width: 20%;
    margin-left: 70px;
    margin-bottom: 0;

}

h1.h1LogoQuanto {
    background-color: #BF3B19;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    /*padding: 5px;*/
    text-align: center;
}


h2.h2Slogan {
    font-size: 14px;

}
.red {
    color: #8C4435;

}

div.slogan {
    float: right;
    width: 50%;
    padding-left: 150px;
    margin-bottom: 0;
    margin-top: 40px;
    vertical-align: bottom;
}
nav.topMenu {
    padding-left: 50px;
    background-color: #EBEAD8;
}
nav.topMenu ul li {
    display: inline-block;
    list-style-type: none;
    padding: 20px;
    border: solid 1px ;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 200px;
    text-align: center;

}
div.contH2Banner {
    float: left;
    width: 30%;
    padding-left: 85px;
}
div.titleDiscoverThe {
    color: #AE8474;
}
div.titleBusiness {
    font-size: 70px;
    padding: 0;
}
div.titleSecrets {
    font-size: 70px;
    color: #BE3A18;
    padding-left: 70px;
}
div.titleForYourSuccess {
    padding-left: 70px;
}
img.imgPpl {
    float: right;
    width: 50%;
    margin-right: 90px;

}

section.main {
    background-color: #EBEAD8;

}

h2 {
    font-size: 24px;
    margin-bottom: 0;

}

article.leftCustomerSays {
    float: left;
    width: 25%;
    margin: 10px ;
    padding: 10px;
    margin-left: 80px;
}
figure.figRemoveMarginLeft {
    margin-left: 0;
}

img.imgFace {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
figcaption.figcAddMargin {

}
h3.h3Padding {
    padding-top: 20px;
    margin-bottom: 0;
}


.main article h3 {
    font-size: 16px;
    color: #782A14;
    margin-top: 0;

}

article.centerWhyChooseUs {
    float: left;
    width: 25%;
    margin: 10px ;
    padding: 10px;
}

a {
color: #BF3A18;
}
article.rightNewsHeadlines {
    float: right;
    width: 25%;
    margin: 10px ;
    padding: 10px;
    margin-right: 80px;
}


article ul {
    list-style-type: none;
    padding-left: 0;
}

li.liWhatNews {
    background-image: url("../images/puce.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    background-color: #DBD5BB;
}

article.artBottomLeftNewSolutions {
    float: left;
    width: 25%;
    margin-left: 80px;
    padding: 10px;
}
article.artBottomCenterPopularServices {
    float: left;
    width: 25%;
    margin-left: 10px;
    padding: 10px;
}
article.artBottomRightPressReleases {
    float: right;
    width: 25%;
    margin: 10px ;
    padding: 10px;
    margin-right: 80px;
}
