a {
    color: #2A8782;
    text-decoration: none;
    transition: text-shadow 0.25s;
}

a:hover {
    text-shadow: 0 0 4px grey;
}

body {
    /* structure */
    margin: 0 auto;
    width: 80%;

    /* presentation */
    background-color: #FFFED2;
}

body, button {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #015770;
    letter-spacing: 0.1em;
}

header {
    padding-bottom: 2em;
}

.hide {
    display: none;
}

section {
    text-align: center;
}

section > figure > img {
    border-radius: 6px;
    box-shadow: 0 0 8px black;
}

section > figure > figcaption {
    color: #2A8782;
    font-weight: bold;
    text-shadow: 0 0 4px grey;
    font-size: 20px;
}

section > figure > figcaption:before {
    content: "[ ";
}

section > figure > figcaption:after {
    content: " ]";
}

#toolbar {
    margin: 10px 0 30px;
    opacity: 1;
}