.page {
    width: 960px;
    margin: 0 auto;
}

nav.topMenu {
    list-style-type: none;
    background-color: #585858;
}

nav.topMenu > ul {
    color: white;
    font-size: 18px;

}

nav.topMenu > ul > li {

    display: inline-block;
    padding: 10px 10px 10px 30px;
    color: white;
    text-align: center;
}

nav.topMenu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav.topMenu a:hover {
    background-color: red ;

}
nav.topMenu > ul >li > ul {
    list-style-type: none;
    background-color: #585858;

    position: absolute;
    display: none;
    padding: 10px;
}

nav.topMenu > ul >li:hover >ul   {
    display: block;

}
a.tooltip {
    position: relative; /* l'origine est le lien hypertext */

}
a.tooltip span {
    display: none;
    bottom: 20px;
    left: 0;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
 }
a.tooltip:hover span  {
    display: block;

}