.page {
    width: 960px;
    margin: 0 auto;
}

ul.menuDeroulant {
    list-style-type: none;
    background-color: #585858;
    color: white;
    font-size: 18px;
}

ul.menuDeroulant > li {
    display: inline-block;
    padding: 10px 10px 10px 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100px;
    position: relative; /* This position relative is used later on with Position Absolute, top & left to correct the position of the Menu deroulant */

}


nav.topMenu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* by hovering over li, we highligthed the whole li, not just the a */
nav.topMenu li:hover {
    background-color: red ;

}
ul.menuDeroulant   ul {
    list-style-type: none;
    background-color: #585858;

    position: absolute;
    left: 0;
    top: 34px;
    /*display: none;*/
    /*padding: 10px;*/
    margin-left: 0;
    padding-left: 0;
}
ul.menuDeroulant ul li {
    width: 100px;
    text-align: left;

}

nav.topMenu > ul >li:hover >ul   {
    display: block;

}
a.tooltip {
    position: relative; /* l'origine est le lien hypertext */

}
a.tooltip span {
    display: none;
    bottom: 20px;
    left: 0;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background: #fffAF0;
 }
a.tooltip:hover span  {
    display: block;

}