			
			/*  VISUALISATION DES BLOCS  */

			/*div, header, section, article, aside, nav {
				border: 1px dashed rgba(0,0,0,0.15);
				background-color: rgba(0,0,0,0.05);
			}*/

			/*.clear {
				border: 2px dashed red;
			}*/

			/* Généralités */

			body {
				font-family: sans-serif;
				font-size: 13px;
				color: #666;
			}
			ul, li {
				padding: 0;
				list-style-type: none;
			}
			.clear {
				clear: both;
			}
			#page {
				width: 540px;
				margin: 0 auto;
			}
			h2 {
				margin-top: -20px;
				margin-bottom: 10px;
				color: #fc0;
				font-size: 24px;
				font-weight: normal;
			}
			h3 {
				color: #72AA21;
				font-size: 13px;
			}
			.read {
				font-size: 18px;
				color: #fc0;
			}
			a {
				text-decoration: none;
			}

			/* Header */

			.header {
				margin-bottom: 40px;
				padding-top: 40px;
				background-image: url("images/header_bg.png");
				background-repeat: no-repeat;
				border-bottom: 2px solid #72AA21;
			}
			.title {
				font-size: 24px;
				font-weight: normal;
				color: #999;
				margin-bottom: 70px;
			}
			.second {
				margin-left: 20px;
			}
			.first {
				font-size: 16px;
			}
			.menu {
				margin-left: 45%;
			}
			.menu-li {
				float: left;
				margin-right: 4px;
				padding: 2px;
				padding-left: 18px;
				padding-right: 18px;
				background-color: #72AA21;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}
			.menu-a {
				color: white;
			}

			/* Who we are (gauche) */

			.who {
				float: left;
				width: 36%;
				padding-right: 4%;
				border-right: 1px solid #ddd;
			}

			/* What we do (droite) */

			.what {
				float: left;
				width: 55%;
				padding-left: 4%;
			}
			.what-top {
				margin-top: 0;
			}
			.what-img {
				float: left;
				margin-right: 10px;
			}
			.what-li {
				margin-bottom: 2px;
				padding: 1px;
				padding-left: 20px;
				font-weight: bold;
				color: #72AA21;
				background-color: #eee;
				background-image: url("images/puce.png");
				background-repeat: no-repeat;
				border-radius: 6px;
			}

			/* Footer */

			.footer {
				color: #999;
				margin-top: 20px;
				text-align: right;
			}
